#
# arch/arm/configs/motorola_ljap/feature/display_32bit.config
#
# Support 32 bit display.
#
# Enabled by LJ Build Environment FEAT_32_BIT_DISPLAY flag.
#
# Copyright (C) 2008 Motorola, Inc.
#
                                                                                                                                                             
#
# 32 bit display support
#
CONFIG_MOT_FEAT_32_BIT_DISPLAY=y
