#
# arch/arm/configs/motorola_ljap/feature/ethernet.config
#
# Support for CS89x0 Ethernet controller.
#
# Enabled by LJ Build Environment HW_ETHERNET flag.
#
# Copyright 2006 Motorola, Inc.
#

CONFIG_NET_ETHERNET=y

#
# Network Device Drivers
#
CONFIG_CS89x0=y

#
# Network File Systems
#
CONFIG_NFS_FS=y
CONFIG_NFS_V3=y
# CONFIG_NFS_V4 is not set
# CONFIG_NFS_DIRECTIO is not set
# CONFIG_NFSD is not set
CONFIG_ROOT_NFS=y
CONFIG_LOCKD=y
CONFIG_LOCKD_V4=y
# CONFIG_EXPORTFS is not set
CONFIG_SUNRPC=y
# CONFIG_RPCSEC_GSS_KRB5 is not set
# CONFIG_RPCSEC_GSS_SPKM3 is not set
