#
# arch/arm/configs/motorola_ljap/feature/memdump.config
#
# Memory dump on panic 
#

CONFIG_MOT_FEAT_ADVANCED_DEBUG=y
CONFIG_MOT_FEAT_KPANIC=y
CONFIG_MOT_FEAT_MEMDUMP=y 
CONFIG_MOT_FEAT_TEST_PANIC=y
CONFIG_MOT_FEAT_PANIC_ON_OOPS=y
# CONFIG_MOT_FEAT_PANIC_ON_SCHED_ATOMIC is not set
CONFIG_DEBUG_ERRORS=y

