#
# arch/arm/configs/motorola_ljap/feature/mmc_sdhc.config
#
# Multi-media card support on the SDHC interface.
#
# Enabled by LJ Build Environment HW_MMC flag.
#
# Copyright 2006 Motorola, Inc.
#

CONFIG_MMC=y
CONFIG_MMC_BLOCK=y
CONFIG_MMC_MXC=y

CONFIG_MOT_FEAT_MMCSD_DEV_HOST_BIND=y
CONFIG_MOT_FEAT_MMCSD_HCSD=y
