#
# arch/arm/configs/motorola_ljap/feature/tf_det.config
#
# Currently, only Ascension and Marco support detection of tranflash card
# insertion and removal via EDIO Interrupt 4.
#
# Enabled via the HW_SDHC_1_TF_DET flag in the build environment.
#
# Copyright 2006 Motorola, Inc.
#

CONFIG_MOT_FEAT_SD1_TF_DET=y
