#
# arch/arm/configs/motorola_ljap/feature/usb_hs_fx2lp.config
#
# Support for high speed USB using FX2LP.
#
# Enabled by LJ Build Environment HW_USB_HS_FX2LP flag.
#
# Copyright 2006 Motorola, Inc.
#

#
# On-The-Go and USB Peripheral Support
#
CONFIG_OTG_HIGH_SPEED=y
CONFIG_MOT_FEAT_FX2LP_I2C=y

CONFIG_MOT_FEAT_GPIO_API_USBHS=y
