# CONFIG_NET_ETHERNET is not set
CONFIG_OTG=y
CONFIG_OTG_NFS=y
CONFIG_OTG_BRASSBOARD=y
CONFIG_OTG_GENERIC=y
CONFIG_OTG_GENERIC_CONFIG_NAME="acm-tty"
CONFIG_OTG_ACM=y 
CONFIG_OTG_MSC=y
CONFIG_OTG_NETWORK=y
CONFIG_OTG_TR_AUTO=y
CONFIG_OTG_ACM_CONSOLE=y
# CONFIG_HOTPLUG is not set
# CONFIG_OTG_GENERIC_HOTPLUG is not set
# CONFIG_OTG_ACM_HOTPLUG is not set
# CONFIG_OTG_MSC_HOTPLUG is not set
# CONFIG_OTG_MTP_HOTPLUG is not set
# CONFIG_OTG_PBG_HOTPLUG is not set
# CONFIG_MOT_FEAT_FX2LP_I2C is not set
# CONFIG_OTG_HIGH_SPEED is not set
