#
# arch/arm/configs/motorola_ljap/feature/virtualkeymap.config
#
# OS: New keypad driver that supports virtual keymap
#
# Enabled by LJ Build Environment FEAT_VIRTUAL_KEYMAP flag.
#
# Copyright 2007 Motorola, Inc.
#

#The new driver is a module and not compiled as part of the kernel
#The compilation of the new driver is handled by the owner Sierra

# CONFIG_MOT_KEYPAD is not set