#
# arch/arm/configs/motorola_ljap/feature/wifi_drivers.config
#
# Marvell wireless LAN support.
#
# Enabled by LJ Build Environment FEAT_WIFI_DRIVERS flag.
#
# Copyright 2006 Motorola, Inc.
#

#
# Wireless LAN (non-hamradio)
#
CONFIG_NET_RADIO=y

#
# Obsolete Wireless cards support (pre-802.11)
#
# CONFIG_STRIP is not set
# CONFIG_ARLAN is not set
# CONFIG_WAVELAN is not set

#
# Wireless 802.11b ISA/PCI cards support
#
# CONFIG_ATMEL is not set
# CONFIG_HOSTAP is not set
CONFIG_NET_WIRELESS=y
# CONFIG_MARVELL_WIFI_8385 is not set
CONFIG_MARVELL_WIFI_8686=m
