#
# arch/arm/configs/motorola_ljap/product-family/argon.config
#
# Argon/MXC-91321-specific Linux kernel configuration options. This
# file is evaluated by Kconfig following the evaluation of:
#      arch/arm/configs/motorola_ljap_defconfig
#
# And it is evaluated before:
#      arch/arm/configs/motorola_ljap/product-family/${PRODUCT}.config
#
# Copyright 2006 Motorola, Inc.
#

CONFIG_ARCH_MXC91321=y
CONFIG_MACH_ARGONLVPHONE=y

# This compiled-in command line will cause the kernel to panic early in
# the boot process. All products should be using atags.img to pass command
# line parameters to the kernel.
CONFIG_CMDLINE="noinitrd console=ttymxc2 rw mem=51M@0x80000000 init=/linuxrc ip=off jtag=on root=invalid_atags_please_fix mtdparts=nor0:-(invalid_atags_please_fix_nor);nand0:-(invalid_atags_please_fix_nand)"

CONFIG_MOT_WFN423=y
CONFIG_MOT_WFN432=y
CONFIG_MOT_FEAT_PM_BUTE=y
CONFIG_MOT_WFN396=y
CONFIG_MOT_WFN428=y
CONFIG_MOT_WFN441=y

#
# Motorola GPIO API Options
#
CONFIG_MOT_FEAT_GPIO_API_BTPOWER=y
CONFIG_MOT_FEAT_GPIO_API_CSI=y
CONFIG_MOT_FEAT_GPIO_API_DAI=y
CONFIG_MOT_FEAT_GPIO_API_LCD=y
CONFIG_MOT_FEAT_GPIO_API_LIGHTING=y
CONFIG_MOT_FEAT_GPIO_API_LIGHTING_LCD=y
CONFIG_MOT_FEAT_GPIO_API_SDHC=y
CONFIG_MOT_FEAT_GPIO_API_WLAN=y
CONFIG_MOT_FEAT_GPIO_API_USBHS=y


#
# RAM/ROM/Flash chip drivers
#
CONFIG_MTD_CFI=y
# CONFIG_MTD_JEDECPROBE is not set
CONFIG_MTD_GEN_PROBE=y
CONFIG_MTD_CFI_ADV_OPTIONS=y
CONFIG_MTD_CFI_NOSWAP=y
# CONFIG_MTD_CFI_BE_BYTE_SWAP is not set
# CONFIG_MTD_CFI_LE_BYTE_SWAP is not set
CONFIG_MTD_CFI_GEOMETRY=y
# CONFIG_MTD_MAP_BANK_WIDTH_1 is not set
CONFIG_MTD_MAP_BANK_WIDTH_2=y
# CONFIG_MTD_MAP_BANK_WIDTH_4 is not set
# CONFIG_MTD_MAP_BANK_WIDTH_8 is not set
# CONFIG_MTD_MAP_BANK_WIDTH_16 is not set
# CONFIG_MTD_MAP_BANK_WIDTH_32 is not set
CONFIG_MTD_CFI_I1=y
# CONFIG_MTD_CFI_I2 is not set
# CONFIG_MTD_CFI_I4 is not set
# CONFIG_MTD_CFI_I8 is not set
# CONFIG_MTD_OTP is not set
CONFIG_MTD_CFI_INTELEXT=y
# CONFIG_MTD_CFI_AMDSTD is not set
# CONFIG_MTD_CFI_STAA is not set
CONFIG_MTD_CFI_UTIL=y
# CONFIG_MTD_RAM is not set
# CONFIG_MTD_ROM is not set
# CONFIG_MTD_ABSENT is not set
# CONFIG_MTD_XIP is not set

#
# Mapping drivers for chip access
#
CONFIG_MTD_COMPLEX_MAPPINGS=y
# CONFIG_MTD_PHYSMAP is not set
# CONFIG_MTD_MULTI_PHYSMAP is not set
# CONFIG_MTD_ARM_INTEGRATOR is not set
# CONFIG_MTD_EDB7312 is not set
# CONFIG_MTD_PLATRAM is not set
# CONFIG_MTD_MXC is not set
CONFIG_MTD_BUTEREF=y

#
# Networking options
#
# CONFIG_IP_ROUTE_FWMARK is not set

#
# IP: Virtual Server Configuration
#
# CONFIG_IP_VS is not set
CONFIG_IPV6=m
# CONFIG_IPV6_PRIVACY is not set
# CONFIG_IPV6_ROUTER_PREF is not set
# CONFIG_INET6_AH is not set
# CONFIG_INET6_ESP is not set
# CONFIG_INET6_IPCOMP is not set
# CONFIG_INET6_TUNNEL is not set
# CONFIG_IPV6_TUNNEL is not set
# CONFIG_IPV6_ADVANCED_ROUTER is not set
# CONFIG_IPV6_MIP6 is not set
# CONFIG_NETFILTER_DEBUG is not set

#
# IP: Netfilter Configuration
#
# CONFIG_IP_NF_CONNTRACK_MARK is not set
# CONFIG_IP_NF_QUEUE is not set
# CONFIG_IP_NF_ARPTABLES is not set
# CONFIG_IP_NF_COMPAT_IPCHAINS is not set
# CONFIG_IP_NF_COMPAT_IPFWADM is not set

#
# IPv6: Netfilter Configuration
#
# CONFIG_IP6_NF_QUEUE is not set
# CONFIG_IP6_NF_IPTABLES is not set
# CONFIG_IP6_NF_CONNTRACK is not set

#
# Bluetooth device drivers
#
CONFIG_TUN=m

#
# OTG Mass Storage function options
#
CONFIG_OTG_MSC_PRODUCT_NAME="Motorola USB Device"

#
# BLAN Network Function options
#
CONFIG_OTG_NETWORK_BLAN_CRC=y

#
# OTG PBG function options
#
CONFIG_OTG_PBG_BCDDEVICE=0x0200

#
# MXC MPEG4 Encoder Kernel module support
#
# CONFIG_MXC_HMP4E is not set

#
# MBM doesn't currently support display on ArgonLV
#
CONFIG_MOT_FEAT_BOOT_BACKLIGHT=y

#
# Show Montavista logo since MBM doesn't currently support display on ArgonLV
#
CONFIG_LOGO=y
CONFIG_LOGO_LINUX_CLUT224=y
# CONFIG_MOT_FEAT_POWERUP_LOGO is not set

#
# Enable raw memory device access
#
# CONFIG_MOT_FEAT_SECURE_USERMEM is not set

#
# MXC IPU post-processing device driver
#
CONFIG_MOT_FEAT_IPU_PP=y
