#
# arch/arm/configs/motorola_ljap/product-family/scma11.config
#
# SCM-A11/MXC-91231-specific Linux kernel configuration options. This
# file is evaluated by Kconfig following the evaluation of:
#      arch/arm/configs/motorola_ljap_defconfig
#
# And it is evaluated before:
#      arch/arm/configs/motorola_ljap/product-family/${PRODUCT}.config
#
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program; if not, write to the Free Software 
#  Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# Copyright (C) 2006-2007 Motorola, Inc.
#
# Date        Author            Comment
# ==========  ================  ========================
# 09/25/2006  Motorola          Initial creation
# 09/27/2006  Motorola          Added CMDLINE
# 10/05/2006  Motorola          Added GPIO flags
# 12/14/2007  Motorola          Added WFN476
# 02/26/2007  Motorola          Added DEBUG_WDOG
# 03/08/2007  Motorola          Added WDOG_CLEANUP and WDOG1_ENABLE
# 10/15/2007  Motorola          Deleted CONFIG_MOT_FEAT_DEBUG_WDOG
#

CONFIG_ARCH_MXC91231=y
CONFIG_MACH_SCMA11PHONE=y

# This compiled-in command line will cause the kernel to panic early in
# the boot process. All products should be using atags.img to pass command
# line parameters to the kernel.
CONFIG_CMDLINE="noinitrd console=ttymxc2 rw mem=55M@0x90000000 init=/linuxrc ip=off root=invalid_atags_please_fix mtdparts=nand0:-(invalid_atags_please_fix_nand)"

CONFIG_MOT_FEAT_SYSREBOOT=y
# CONFIG_MOT_FEAT_SYSREBOOT_CRM is not set
CONFIG_MOT_FEAT_SYSREBOOT_ATLAS=y

CONFIG_MOT_WFN430=y
CONFIG_MOT_WFN435=y
# CONFIG_MOT_WFN248 is not set
CONFIG_MOT_FEAT_WDOG_CLEANUP=y
CONFIG_MOT_FEAT_WDOG1_ENABLE=y
CONFIG_MOT_FEAT_PPP_EZX_COMPAT=y
CONFIG_MOT_FEAT_PM_STATS=y
CONFIG_MOT_FEAT_SET_MAC=y
CONFIG_MOT_FEAT_BT_MAXUARTBAUDRATE=y
CONFIG_MOT_WFN420=y
CONFIG_MOT_WFN441=y
CONFIG_MOT_WFN421=y
CONFIG_MOT_WFN476=y


#
# Motorola GPIO API Options
#
CONFIG_MOT_FEAT_GPIO_API_BTPOWER=y
CONFIG_MOT_FEAT_GPIO_API_CSI=y
CONFIG_MOT_FEAT_GPIO_API_DAI=y
CONFIG_MOT_FEAT_GPIO_API_LCD=y
CONFIG_MOT_FEAT_GPIO_API_LIGHTING=y
CONFIG_MOT_FEAT_GPIO_API_LIGHTING_EL=y

#CONFIG_MOT_FEAT_DEBUG_WDOG is not set

#
# General Setup
#
CONFIG_KOBJECT_UEVENT=y

#
# RAM/ROM/Flash chip drivers
#
# CONFIG_MTD_CFI is not set
# CONFIG_MTD_JEDECPROBE is not set
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
# CONFIG_MTD_MAP_BANK_WIDTH_8 is not set
# CONFIG_MTD_MAP_BANK_WIDTH_16 is not set
# CONFIG_MTD_MAP_BANK_WIDTH_32 is not set
CONFIG_MTD_CFI_I1=y
CONFIG_MTD_CFI_I2=y
# CONFIG_MTD_CFI_I4 is not set
# CONFIG_MTD_CFI_I8 is not set
CONFIG_MTD_RAM=y
# CONFIG_MTD_ROM is not set
# CONFIG_MTD_ABSENT is not set

#
# Mapping drivers for chip access
#
# CONFIG_MTD_COMPLEX_MAPPINGS is not set
# CONFIG_MTD_PLATRAM is not set
# CONFIG_MTD_MXC is not set

#
# IO Schedulers
#
CONFIG_IOSCHED_AS=y
CONFIG_IOSCHED_DEADLINE=y
CONFIG_IOSCHED_CFQ=y

#
# Networking options
#
CONFIG_USE_POLICY_FWD=y

#
# Pseudo filesystems
#
CONFIG_RELAYFS_FS=y
# CONFIG_KLOG_CHANNEL is not set

#
# Graphics support
#
CONFIG_FB_MXC_INTERNAL_MEM=y

#
# MXC Security Drivers
#
# CONFIG_MXC_SECURITY_RNGA is not set
# CONFIG_MXC_SECURITY_HAC is not set


#
# MXC Camera/V4L2 IPU PRP Features support
#
CONFIG_MOT_FEAT_2MP_CAMERA_WRKARND=y

#
# MXC IPU post-processing device driver
#
CONFIG_MOT_FEAT_IPU_PP=y
