#
# arch/arm/configs/motorola_ljap/product-family/zeus.config
#
# Zeus/MXC-91131-specific Linux kernel configuration options. This
# file is evaluated by Kconfig following the evaluation of:
#      arch/arm/configs/motorola_ljap_defconfig
#
# And it is evaluated before:
#      arch/arm/configs/motorola_ljap/product-family/${PRODUCT}.config
#
# Copyright 2006 Motorola, Inc.
#

CONFIG_ARCH_MXC91131=y

#
# Motorola Features and Bug Fixes
#
# CONFIG_MOT_FEAT_BRDREV is not set
# CONFIG_MOT_FEAT_BOOTINFO is not set
# CONFIG_MOT_WFN430 is not set
# CONFIG_MOT_FEAT_DOWN_TIMEOUT is not set
# CONFIG_MOT_FEAT_MTD_FS is not set
# CONFIG_MOT_FEAT_LPNAND_SUPPORT is not set
# CONFIG_MOT_WFN439 is not set
# CONFIG_MOT_FEAT_NAND_AUTO_DETECT is not set
# CONFIG_MOT_FEAT_EMULATED_CLI is not set
# CONFIG_MOT_WFN394 is not set
# CONFIG_MOT_FEAT_IPU_PF_PERM666 is not set
# CONFIG_MOT_FEAT_DISABLE_SW_CURSOR is not set
# CONFIG_MOT_FEAT_SYSREBOOT is not set
CONFIG_MOT_WFN432=y
CONFIG_MOT_WFN435=y
# CONFIG_MOT_FEAT_IPU_MEM_ADDR is not set
# CONFIG_MOT_FEAT_IPU_IOCTL is not set
# CONFIG_MOT_FEAT_FB_PANIC_TEXT is not set
# CONFIG_MOT_FEAT_ACTIVE_AND_LOW_POWER_INTERVAL_TIMERS is not set
# CONFIG_MOT_FEAT_MODEM_RELAY is not set
# CONFIG_MOT_KEYPAD is not set
# CONFIG_MOT_FEAT_PPP_EZX_COMPAT is not set
# CONFIG_MOT_FEAT_SLABFREE_PROC is not set
# CONFIG_MOT_FEAT_MXC_IPC_SDMA_STATS is not set
# CONFIG_MOT_FEAT_PM is not set
# CONFIG_PROFILER is not set
# CONFIG_MOT_FEAT_SET_MAC is not set
# CONFIG_MOT_FEAT_OTP_EFUSE is not set
# CONFIG_MOT_FEAT_ATLAS_TIMING_ISSUES is not set
# CONFIG_MOT_FEAT_CONSOLE_DISABLED is not set
# CONFIG_MOT_FEAT_CHKSUM is not set
# CONFIG_MOT_WFN379 is not set
# CONFIG_MOT_FEAT_BT_MAXUARTBAUDRATE is not set
# CONFIG_MOT_FEAT_PANIC_DECISION is not set
# CONFIG_MOT_WFN431 is not set
# CONFIG_MOT_WFN420 is not set
# CONFIG_MOT_WFN441 is not set
# CONFIG_MOT_WFN436 is not set
# CONFIG_MOT_WFN455 is not set

# raw i2c api
# CONFIG_MOT_FEAT_RAW_I2C_API is not set

#
# Motorola GPIO API Options
#
# CONFIG_MOT_FEAT_GPIO_API_MC13783 is not set
CONFIG_MOT_FEAT_GPIO_API_SDHC=y

#
# General setup
#
CONFIG_SWAP=y
CONFIG_KOBJECT_UEVENT=y
# CONFIG_SUAPI is not set

#
# Processor Features
#
# CONFIG_HIGH_RES_TIMERS is not set

CONFIG_CMDLINE="console=tty0 console=ttyS0,115200 root=/dev/mtdblock/2 ro init=/linuxrc ip=off"
CONFIG_ALIGNMENT_TRAP=y

#
# Memory Technology Devices (MTD)
#
CONFIG_MTD_REDBOOT_PARTS=y
CONFIG_MTD_REDBOOT_DIRECTORY_BLOCK=-1
# CONFIG_MTD_REDBOOT_PARTS_UNALLOCATED is not set
# CONFIG_MTD_REDBOOT_PARTS_READONLY is not set
CONFIG_MTD_CMDLINE_PARTS=y
# CONFIG_MTD_AFS_PARTS is not set

#
# RAM/ROM/Flash chip drivers
#
CONFIG_MTD_CFI=y
# CONFIG_MTD_JEDECPROBE is not set
CONFIG_MTD_GEN_PROBE=y
CONFIG_MTD_CFI_ADV_OPTIONS=y
CONFIG_MTD_CFI_NOSWAP=y
# CONFIG_MTD_CFI_BE_BYTE_SWAP is not set
# CONFIG_MTD_CFI_LE_BYTE_SWAP is not set
CONFIG_MTD_CFI_GEOMETRY=y
# CONFIG_MTD_MAP_BANK_WIDTH_1 is not set
CONFIG_MTD_MAP_BANK_WIDTH_2=y
# CONFIG_MTD_MAP_BANK_WIDTH_4 is not set
# CONFIG_MTD_MAP_BANK_WIDTH_8 is not set
# CONFIG_MTD_MAP_BANK_WIDTH_16 is not set
# CONFIG_MTD_MAP_BANK_WIDTH_32 is not set
CONFIG_MTD_CFI_I1=y
# CONFIG_MTD_CFI_I2 is not set
# CONFIG_MTD_CFI_I4 is not set
# CONFIG_MTD_CFI_I8 is not set
# CONFIG_MTD_OTP is not set
# CONFIG_MTD_CFI_INTELEXT is not set
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_MTD_CFI_AMDSTD_RETRY=0
# CONFIG_MTD_CFI_STAA is not set
CONFIG_MTD_CFI_UTIL=y
CONFIG_MTD_RAM=y
# CONFIG_MTD_ROM is not set
# CONFIG_MTD_ABSENT is not set
# CONFIG_MTD_XIP is not set

#
# Mapping drivers for chip access
#
# CONFIG_MTD_COMPLEX_MAPPINGS is not set
# CONFIG_MTD_PHYSMAP is not set
# CONFIG_MTD_MULTI_PHYSMAP is not set
# CONFIG_MTD_ARM_INTEGRATOR is not set
# CONFIG_MTD_EDB7312 is not set
# CONFIG_MTD_PLATRAM is not set
CONFIG_MTD_MXC=y

#
# NAND Flash Device Drivers
#
# CONFIG_MTD_NAND_BBM is not set

#
# OneNAND Flash Device Drivers
#
# CONFIG_MTD_ONENAND is not set

#
# Plug and Play support
#
# CONFIG_PNP is not set

#
# Block devices
#
CONFIG_BLK_DEV_INITRD=y

#
# IO Schedulers
#
CONFIG_IOSCHED_AS=y
CONFIG_IOSCHED_DEADLINE=y
CONFIG_IOSCHED_CFQ=y

#
# Networking options
#
# CONFIG_IP_ADVANCED_ROUTER is not set
CONFIG_IP_PNP_BOOTP=y
CONFIG_USE_POLICY_FWD=y

#
# IP: Virtual Server Configuration
#
# CONFIG_IP_VS is not set
CONFIG_IPV6=m
# CONFIG_IPV6_PRIVACY is not set
# CONFIG_IPV6_ROUTER_PREF is not set
# CONFIG_INET6_AH is not set
# CONFIG_INET6_ESP is not set
# CONFIG_INET6_IPCOMP is not set
# CONFIG_INET6_TUNNEL is not set
# CONFIG_IPV6_TUNNEL is not set
# CONFIG_IPV6_ADVANCED_ROUTER is not set
# CONFIG_IPV6_MIP6 is not set
# CONFIG_NETFILTER_DEBUG is not set

#
# IP: Netfilter Configuration
#
# CONFIG_IP_NF_CONNTRACK_MARK is not set
# CONFIG_IP_NF_QUEUE is not set
# CONFIG_IP_NF_ARPTABLES is not set
# CONFIG_IP_NF_COMPAT_IPCHAINS is not set
# CONFIG_IP_NF_COMPAT_IPFWADM is not set

#
# IPv6: Netfilter Configuration
#
# CONFIG_IP6_NF_QUEUE is not set
# CONFIG_IP6_NF_IPTABLES is not set
# CONFIG_IP6_NF_CONNTRACK is not set

#
# FIR device drivers
#
# CONFIG_MXC_FIR is not set
# CONFIG_BT is not set
CONFIG_TUN=m

#
# Wan interfaces
#
CONFIG_PPP=m
CONFIG_PPP_ASYNC=m
CONFIG_PPP_SYNC_TTY=m
CONFIG_PPP_DEFLATE=m
# CONFIG_SLIP is not set


#
# Input Device Drivers
#
CONFIG_INPUT_KEYBOARD=y
# CONFIG_KEYBOARD_ATKBD is not set
# CONFIG_KEYBOARD_SUNKBD is not set
# CONFIG_KEYBOARD_LKKBD is not set
# CONFIG_KEYBOARD_XTKBD is not set
# CONFIG_KEYBOARD_NEWTON is not set
CONFIG_KEYBOARD_MXC=m

#
# Character devices
#
# CONFIG_MXC_RTC is not set

#
# Serial drivers
#
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=2
# CONFIG_SERIAL_8250_EXTENDED is not set

#
# I2C support
#
CONFIG_I2C_CHARDEV=y


#
# File systems
#
CONFIG_EXT2_FS=y
# CONFIG_EXT2_FS_XATTR is not set
CONFIG_EXT3_FS=m
CONFIG_EXT3_FS_XATTR=y
# CONFIG_EXT3_FS_POSIX_ACL is not set
# CONFIG_EXT3_FS_SECURITY is not set
CONFIG_JBD=m
# CONFIG_JBD_DEBUG is not set
CONFIG_FS_MBCACHE=y
CONFIG_XFS_FS=m
# CONFIG_XFS_RT is not set
# CONFIG_XFS_QUOTA is not set
# CONFIG_XFS_SECURITY is not set
# CONFIG_XFS_POSIX_ACL is not set
CONFIG_AUTOFS4_FS=m

#
# Pseudo filesystems
#
# CONFIG_RELAYFS_FS is not set

#
# Miscellaneous filesystems
#
# CONFIG_YAFFS_FS is not set
CONFIG_YAFFS_MXC_MODE=y

#
# Native Language Support
#
# CONFIG_NLS_UTF8 is not set

#
# Graphics support
#
# CONFIG_FB_TILEBLITTING is not set
# CONFIG_FB_MXC_SANYO_QVGA_PANEL is not set
CONFIG_FB_MXC_SHARP_QVGA_PANEL=y
# CONFIG_FB_MXC_OVERLAY is not set

#
# Logo configuration
#
CONFIG_LOGO=y
# CONFIG_LOGO_LINUX_MONO is not set
# CONFIG_LOGO_LINUX_VGA16 is not set
CONFIG_LOGO_LINUX_CLUT224=y

#
# MXC Camera/V4L2 IPU PRP Features support
#
# CONFIG_MXC_IPU_CAMERA_LIGHT_SENSOR is not set
# CONFIG_MXC_IPU_CAMERA_I2C_INTERFACE is not set
# CONFIG_VIDEO_MXC_V4L1 is not set
#
# Sound
#
CONFIG_SOUND=y

#
# Advanced Linux Sound Architecture
#
# CONFIG_SND is not set

#
# Open Sound System
#
CONFIG_SOUND_PRIME=y
# CONFIG_SOUND_BT878 is not set
# CONFIG_SOUND_FUSION is not set
# CONFIG_SOUND_CS4281 is not set
# CONFIG_SOUND_SONICVIBES is not set
# CONFIG_SOUND_TRIDENT is not set
# CONFIG_SOUND_MSNDCLAS is not set
# CONFIG_SOUND_MSNDPIN is not set
CONFIG_SOUND_OSS=y
# CONFIG_SOUND_TRACEINIT is not set
# CONFIG_SOUND_DMAP is not set
# CONFIG_SOUND_AD1816 is not set
# CONFIG_SOUND_AD1889 is not set
# CONFIG_SOUND_SGALAXY is not set
# CONFIG_SOUND_ADLIB is not set
# CONFIG_SOUND_ACI_MIXER is not set
# CONFIG_SOUND_CS4232 is not set
# CONFIG_SOUND_SSCAPE is not set
# CONFIG_SOUND_GUS is not set
# CONFIG_SOUND_VMIDI is not set
# CONFIG_SOUND_TRIX is not set
# CONFIG_SOUND_MSS is not set
# CONFIG_SOUND_MPU401 is not set
# CONFIG_SOUND_NM256 is not set
# CONFIG_SOUND_MAD16 is not set
# CONFIG_SOUND_PAS is not set
# CONFIG_SOUND_PSS is not set
# CONFIG_SOUND_SB is not set
# CONFIG_SOUND_AWE32_SYNTH is not set
# CONFIG_SOUND_WAVEFRONT is not set
# CONFIG_SOUND_MAUI is not set
# CONFIG_SOUND_YM3812 is not set
# CONFIG_SOUND_OPL3SA1 is not set
# CONFIG_SOUND_OPL3SA2 is not set
# CONFIG_SOUND_UART6850 is not set
# CONFIG_SOUND_AEDSP16 is not set
# CONFIG_SOUND_TVMIXER is not set
# CONFIG_SOUND_AD1980 is not set

#
# On-The-Go and USB Peripheral Support
#
# CONFIG_OTG is not set

#
# Power IC support
#
# CONFIG_MOT_POWER_IC_ATLAS is not set

#
# AP Logger Hooks
#
# CONFIG_APLOGGER is not set
# CONFIG_SIM_SUPPORT is not set

#
# Kernel hacking
#
# CONFIG_DEBUG_KERNEL is not set

#
# Library routines
#
CONFIG_CRC_CCITT=m

#
# SC55112 support
#
CONFIG_MXC_PMIC_SC55112=y
CONFIG_MXC_PMIC_SC55112_FIXARB=y
CONFIG_MXC_PMIC_SC55112_CONNECTIVITY=y
CONFIG_MXC_PMIC_SC55112_AUDIO=y
CONFIG_MXC_PMIC_SC55112_ADC=y
CONFIG_MXC_PMIC_SC55112_BATTERY=y
CONFIG_MXC_PMIC_SC55112_LIGHT=y
CONFIG_MXC_PMIC_SC55112_POWER=y

#
# MXC Security Drivers
#
CONFIG_MXC_SECURITY_RNGA=y
# CONFIG_MXC_RNGA_TEST_DEBUG is not set
CONFIG_MXC_SECURITY_HAC=y
# CONFIG_MXC_HAC_TEST_DEBUG is not set

#
# MXC MPEG4 Encoder Kernel module support
#

#
# APAL (Audio Driver) support
#
# CONFIG_APAL is not set

#
# Enable raw memory device access
#
# CONFIG_MOT_FEAT_SECURE_USERMEM is not set

CONFIG_YAFFS_FS=y
