#
# arch/arm/configs/motorola_ljap/product/kassos.config
#
# This file contains configuration options specific to the Kassos product.
#
# This file is evaluated by Kconfig following the evaluation of these files:
#      arch/arm/configs/motorola_ljap_defconfig
#      arch/arm/configs/motorola_ljap/product-family/argon.config
#
# Copyright 2006 Motorola, Inc.
#
# NOTICE: Please avoid adding new entries to this file. For more details on
# the kernel configuration procedure, please see ../README.
#

CONFIG_MACH_KASSOS=y

#
# MTD
#
# CONFIG_MTD_CFI is not set
# CONFIG_MTD_GEN_PROBE is not set
# CONFIG_MTD_CFI_ADV_OPTIONS is not set
# CONFIG_MTD_CFI_NOSWAP is not set
# CONFIG_MTD_CFI_GEOMETRY is not set
# CONFIG_MTD_CFI_INTELEXT is not set
# CONFIG_MTD_CFI_UTIL is not set
# CONFIG_MTD_COMPLEX_MAPPINGS is not set
# CONFIG_MTD_BUTEREF is not set

