#
# arch/arm/configs/motorola_ljap/product/keywest.config
#
# This file contains configuration options specific to the Key West product.
#
# This file is evaluated by Kconfig following the evaluation of these files:
#      arch/arm/configs/motorola_ljap_defconfig
#      arch/arm/configs/motorola_ljap/product-family/argon.config
#
# Copyright 2006 Motorola, Inc.
#
# NOTICE: Please avoid adding new entries to this file. For more details on
# the kernel configuration procedure, please see ../README.
#

CONFIG_MACH_KEYWEST=y
