#
# arch/arm/configs/motorola_ljap/product/lido.config
#
# Lido-specific Linux kernel configuration options. This file is evaluated
# by Kconfig following the evaluation of these files:
#      arch/arm/configs/motorola_ljap_defconfig
#      arch/arm/configs/motorola_ljap/product-family/scma11.config
#
# Copyright 2006 Motorola, Inc.
#
# NOTICE: Please avoid adding new entries to this file. For more details on
# the kernel configuration procedure, please see ../README.
#

CONFIG_MACH_LIDO=y

#
# Motorola GPIO API Options
#
# CONFIG_MOT_FEAT_GPIO_API_LCD is not set
CONFIG_MOT_FEAT_GPIO_API_LIGHTING_CAM_FLASH=y
CONFIG_MOT_FEAT_GPIO_API_SERIALIZER=y
CONFIG_MOT_FEAT_GPIO_API_USBHS=y
