#
# arch/arm/configs/motorola_ljap/product/nevis.config
#
# Nevis-specific Linux kernel configuration options. This file is evaluated
# by Kconfig following the evaluation of these files:
#      arch/arm/configs/motorola_ljap_defconfig
#      arch/arm/configs/motorola_ljap/product-family/scma11.config
#
# Copyright (C) 2006-2008 Motorola, Inc.
#
# NOTICE: Please avoid adding new entries to this file. For more details on
# the kernel configuration procedure, please see ../README.
#
# This Program is distributed in the hope that it will
# be useful, but WITHOUT ANY WARRANTY;
# without even the implied warranty of
# MERCHANTIBILITY or FITNESS FOR A
# PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#                                                                                                           
# This program is free software; you can redistribute it
# and/or modify it under the terms of the GNU General
# Public License as published by the Free Software
# Foundation; either version 2 of the License, or (at
# your option) any later version.  You should have
# received a copy of the GNU General Public License
# along with this program; if not, write to the Free
# Software Foundation, Inc., 675 Mass Ave,
# Cambridge, MA 02139, USA
#
# Changelog:
# Date               Author           Comment
# -----------------------------------------------------------------------------
# 09/05/2006         Motorola         Initial distribution
# 03/13/2007 	     Motorola	      Added two new Kconfig settings CONFIG_MOT_FEAT_MMC_SDHC1 and 
#                                     CONFIG_MOT_FEAT_MMC_SDHC2
# 10/16/2007         Motorola         FIQ related added.
# 01/13/2008         Motorola         Nevis target creation
# 02/13/2008         Motorola         Removal of WLAN feature
# 05/22/2008         Motorola         Added CONFIG_MOT_FEAT_DEBUG_WDOG=y
#                                     Added CONFIG_MOT_FEAT_LOG_SCHEDULE_EVENTS=y
# 07/15/2008         Motorola         Added CONFIG_MOT_FEAT_APP_COREDUMP_DISPLAY=y

CONFIG_MACH_NEVIS=y

#
# Motorola GPIO API Options
#
CONFIG_MOT_FEAT_GPIO_API_LIGHTING_CAM_TORCH=y
CONFIG_MOT_FEAT_GPIO_API_SDHC=y
CONFIG_MOT_FEAT_GPIO_API_USBHS=y
CONFIG_MOT_FEAT_GPIO_API_WLAN=n

#
# MMC/SD Card support
#
CONFIG_MOT_FEAT_MMC_SDHC1=y
CONFIG_MOT_FEAT_MMC_SDHC2=y

CONFIG_FIQ=y
CONFIG_MOT_FEAT_FIQ_IN_C=y

# Enable WD2 and log Schedule Events
CONFIG_MOT_FEAT_DEBUG_WDOG=y
CONFIG_MOT_FEAT_LOG_SCHEDULE_EVENTS=y

# Enable coredump prompt
CONFIG_MOT_FEAT_APP_COREDUMP_DISPLAY=y
