#
# arch/arm/configs/motorola_ljap/product/pearl.config
#
# Pearl-specific Linux kernel configuration options. This file is evaluated
# by Kconfig following the evaluation of these files:
#      arch/arm/configs/motorola_ljap_defconfig
#      arch/arm/configs/motorola_ljap/product-family/scma11.config
#
# Copyright (C) 2007-2008 Motorola, Inc.
#
# NOTICE: Please avoid adding new entries to this file. For more details on
# the kernel configuration procedure, please see ../README.
#

CONFIG_MACH_PEARL=y

#
# Motorola GPIO API Options
#
# CONFIG_MOT_FEAT_GPIO_API_LIGHTING_EL is not set
CONFIG_MOT_FEAT_GPIO_API_USBHS=y
CONFIG_MOT_FEAT_GPIO_API_WLAN=y

CONFIG_MOT_FEAT_SPI_DM500=y

#
# MXC SPI support
#
CONFIG_MXC_SPI_SELECT1=y
CONFIG_MXC_SPI_SELECT2=n  // Pearl: CSPI2 (DM500) will not be handled in this driver

#
# MMC/SD Card support
#
CONFIG_MMC=m
CONFIG_MMC_BLOCK=m
CONFIG_MMC_MXC=m
CONFIG_MOT_FEAT_MMC_SDHC1=y
CONFIG_MOT_FEAT_MMC_SDHC2=y


CONFIG_FIQ=y
CONFIG_MOT_FEAT_FIQ_IN_C=y


# Enable WD2 and log Schedule Events
CONFIG_MOT_FEAT_DEBUG_WDOG=y
CONFIG_MOT_FEAT_LOG_SCHEDULE_EVENTS=y


#CONFIG_MOT_POWER_IC_ATLAS is not set #different LJ use different atlas methods
CONFIG_MOT_FEAT_POWER_IC_API=y #different LJ use different atlas methods

CONFIG_MXC_IPC_V2=y
CONFIG_APAL=m #LJ71=m other=y
CONFIG_SIM_SUPPORT=m #LJ71=m other=y

CONFIG_MOT_FEAT_INVERTED_SPI_DISPLAY=m
CONFIG_BLK_DEV_INITRD=y

CONFIG_MXC_SSI=m #LJ71=m other=y
CONFIG_MXC_DAM=m #LJ71=m other=y

CONFIG_MOT_WFN487=y
CONFIG_MOT_FEAT_MOTHWCFG_DEVICE_TREE=y

CONFIG_NFS_FS=m #LJ71=m other=n
CONFIG_MOT_FEAT_LSM=n

CONFIG_SECURITY_NETWORK=y
CONFIG_SECURITY_CAPABILITIES=y


#define DBG_TRACK_KPANIC
#define DBG_TRACK_FILE_PANIC 1
#define MPM_SUSPEND_FAILED_CHECK
#define DBG_KPANIC_WAKEUP_COMMON 1
