#
# arch/arm/configs/motorola_ljap/product/saipan.config
#
# Saipan-specific Linux kernel configuration options. This file is evaluated
# by Kconfig following the evaluation of these files:
#      arch/arm/configs/motorola_ljap_defconfig
#      arch/arm/configs/motorola_ljap/product-family/scma11.config
#
# Copyright 2006-2007 Motorola, Inc.
#
# NOTICE: Please avoid adding new entries to this file. For more details on
# the kernel configuration procedure, please see ../README.
#

CONFIG_MACH_SAIPAN=y

#
# Motorola GPIO API Options
#
CONFIG_MOT_FEAT_GPIO_API_LIGHTING_CAM_FLASH=y

CONFIG_PM_NOMEDL=y


CONFIG_MOT_POWER_IC=y #different LJ use different atlas methods
CONFIG_MOT_POWER_IC_ATLAS=y #different LJ use different atlas methods
#CONFIG_MOT_FEAT_POWER_IC_API is not set #different LJ use different atlas methods
CONFIG_APAL=y #LJ71=m other=y
CONFIG_SIM_SUPPORT=y #LJ71=m other=y

CONFIG_MOT_KEYPAD=y

CONFIG_MXC_SSI=y
CONFIG_MXC_DAM=y

