#
# Dynamic Power Management
#

source "drivers/dpm/Kconfig"

config DPM_CENTRINO
       tristate "DPM (Dynamic Power Management) for Intel Centrino Enhanced Speedstep"
       depends on DPM
       default n

config DPM_DUMMY
       tristate "Dummy DPM (Dynamic Power Management) for MVL ADK"
       depends on DPM
       default n
